*,
*::after,
*::before   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    overflow-y: scroll;
}

/*Desktop nav */

.nav-container{
    background: rgba(0, 0, 0, 0.8);
    height: 44px;
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.nav-container nav{
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}

nav .desktop-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

nav .desktop-nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
    transition: opacity 400ms;
}

nav .desktop-nav li a:hover{
    opacity: 1;
}

.link-logo{
    background: url(/assets/apple-logo.svg);
    display: block;
    background-position: center;
    height: 44px;

    width: 15px;
    background-repeat: no-repeat;
}


.link-search{
    background: url(/assets/search-icon.svg);
    display: block;
    background-position: center;
    background-size: 18px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

.link-bag{
    background: url(/assets/bag-icon.svg);
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}


.link-close{
    background: url(/assets/close-icon.svg);
    display: block;
    background-position: center;
    background-size: 17px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

/* Search Container*/

.search-container.hide{
    opacity: 0;
    pointer-events: none;
}

.search-container   {
    width: 60%;
    margin: 0 auto;
    padding: 0 42px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.search-container .link-search{
    position: absolute;
    left: 12px;
    opacity: 0.5;
}

.search-container .link-close{
    position: absolute;
    top: 0;
    right: 12px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 400ms;
}

.search-container .link-close:hover{
    opacity: 0.7;
}

.search-container form{
    width: 100%;
    margin: 0 auto;
}

.search-container form input{
    width: 100%;
    height: 44px;
    border: 0;
    outline: none;
    background: transparent;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 17px;
}

/*overlay */

.overlay.show{
    position: fixed;
    background: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
}

/*Quick links */

.search-container .quick-links {
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    padding: 16px 8px;
    border-radius: 0 0 16px 16px;   
}

.search-container .quick-links h2{
    text-transform: uppercase;
    font-size: 12px;
    color: #6e6e73;
    margin: 0 32px;
    margin-top: 10px;
}

.search-container .quick-links ul {
    list-style: none;
    margin-top: 12px;
}

.search-container .quick-links ul li a{
    display: inline-block;
    width: 100%;
    padding: 8px 50px;
    font-size: 14px;
    color: #1d1d1f;
    text-decoration: none;
    font-weight: 400;
}

.search-container .quick-links ul li a:hover{
    background-color: #f5f5f5;
    color: #2997ff;
}

/*Desktop nav animation */

.desktop-nav li {
    transition: all 400ms ease;
}

.desktop-nav.hide li{
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

/* overlay anim */

.overlay {
    transition:  all 400ms ease;
}

/* navigation menu item transition delay */

.desktop-nav li:nth-of-type(1),
.desktop-nav.hide li:nth-of-type(10)    {
    transition-delay: 0ms;
}

.desktop-nav li:nth-of-type(2),
.desktop-nav.hide li:nth-of-type(9)    {
    transition-delay: 30ms;
}

.desktop-nav li:nth-of-type(3),
.desktop-nav.hide li:nth-of-type(8)    {
    transition-delay: 60ms;
}

.desktop-navli:nth-of-type(4),
.desktop-nav.hide li:nth-of-type(7)    {
    transition-delay: 100ms;
}

.desktop-nav li:nth-of-type(5),
.desktop-nav.hide li:nth-of-type(6)    {
    transition-delay: 130ms;
}

.desktop-nav li:nth-of-type(6),
.desktop-nav.hide li:nth-of-type(5)    {
    transition-delay: 160ms;
}

.desktop-nav li:nth-of-type(7),
.desktop-nav.hide li:nth-of-type(4)    {
    transition-delay: 190ms;
}

.desktop-nav li:nth-of-type(8),
.desktop-nav.hide li:nth-of-type(3)    {
    transition-delay: 210ms;
}

.desktop-nav li:nth-of-type(9),
.desktop-nav.hide li:nth-of-type(2)    {
    transition-delay: 240ms;
}

.desktop-nav li:nth-of-type(10),
.desktop-nav.hide li:nth-of-type(1)    {
    transition-delay: 270ms;
}

/* seacrh container anim */

.search-container form,
.search-container .link-search  {
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
    transition-delay: 300ms;
}

.search-container.hide form,
.search-container.hide .link-search{
    opacity: 0;
    transform: translateX(50px);
}

.search-container .link-search  {
    opacity: 0.6;
}

.search-container.hide .link-close{
    opacity: 0;
}

.search-container .link-close{
    opacity: 0.5;
    transition: all 400ms ease;
    transition-delay: 400ms;
}

.search-container.hide .quick-links h2{
    opacity: 0;
    transform: translateX(50px);
}

.search-container .quick-links h2{
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
    transition-delay: 100ms;
}

.search-container.hide .quick-links ul li {
    opacity: 0;
    transform: translateX(60px);
}

.search-container .quick-links ul li{
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
}

.search-container .quick-links ul li:nth-last-of-type(1){
    transition-delay: 120ms;
}

.search-container .quick-links ul li:nth-last-of-type(2){
    transition-delay: 140ms;
}

.search-container .quick-links ul li:nth-last-of-type(3){
    transition-delay: 160ms;
}

.search-container .quick-links ul li:nth-last-of-type(4){
    transition-delay: 180ms;
}

.search-container .quick-links ul li:nth-last-of-type(5){
    transition-delay: 200ms;
}

/* Media queries */

@media (max-width:1100px)   {
    .nav-container nav {
        width: 100%;
        padding: 0 37px;
    }


}

/**hidden items*/

.mobile-nav{
    display: none;
}

/*mobile animation */

@media (max-width: 768px)   {
   .nav-container .desktop-nav    {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        background: #000;
        justify-content: start;
        overflow: hidden;
        z-index: -1;
    }

    .nav-container.active .desktop-nav{
        height: 100vh;
    }

    .nav-container .desktop-nav li {
        width: 100%;
        padding: 0 32px;
    }

    .nav-container .desktop-nav li:nth-of-type(1){
        margin-top: 120px;
    }

    .nav-container .desktop-nav .link-logo,
    .nav-container .desktop-nav .link-search,
    .nav-container .desktop-nav .link-bag{
        display: none;
    }

    .nav-container .desktop-nav li a{
        padding: 16px 0;
        display: inline-block;
        border-bottom: 1px solid #616161;
        width: 100%;
        font-size: 17px;
    }

    /*mobile nav */

    nav .mobile-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        list-style: none;
    }

    nav .menu-icon-container    {
        width: 20px;
        height: 44px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    nav .menu-icon{
        position: relative;
        width:100%;
    }

    nav .menu-icon .line-1,
    nav .menu-icon .line-2{
        position: absolute;
        height: 1px;
        width: 100%;
        background: #fff;
    }

    nav .menu-icon .line-1{
        top: -4px;
    }

    nav .menu-icon .line-2{
        top: 4px;
    }

    nav .menu-icon-container.active .menu-icon .line-1{
        top: 0;
        transform: rotate(45deg);
    }

    nav .menu-icon-container.active .menu-icon .line-2{
        top: 0;
        transform: rotate(-45deg);
    }
}